:root {
  --font-family-primery: Arial, Helvetica, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.taglinee {
  height: 30vh;
  background-color: #fff;
  align-content: center;
}
.taglinee p {
  color: black;
  font-size: 4vw;
  font-family: var(--font-family-primery);
  padding-left: 20px;
  font-weight: bold;
}
@media (max-width: 640px) {
  .taglinee {
    height: 15vh;
    background-color: #fff;
    align-content: center;
  }
}
@media (max-width: 768px) {
  .taglinee {
    height: 20vh;
    background-color: #fff;
    align-content: center;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .taglinee {
    height: 25vh;
    background-color: #fff;
    align-content: center;
  }
}
