* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product3page {
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 50px 20px 0px;
}

.Product3left {
  height: 100%;
  width: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.Product3left .img1 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  z-index: 88888;
}
.Product3left .img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.Product3left .img1:active{
  z-index: -99999;
}
.Product3right {
  height: 100%;
  width: 50%;
  padding: 0px 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.Product3right button {
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 1.5vw;
  margin: 10px 0px 10px;
}
.Product3right button:hover {
    background-color: rgb(28, 28, 28);
    cursor: pointer;
}
.Product3right .price {
  margin: 10px 0px 10px;
  font-size: 1.5vw;
}
.Product3right .para1 {
  margin: 10px 0px 10px;
  font-size: 1.2vw;
}

.Product3right .para2 {
  margin: 10px 0px 10px;
  font-size: 1.2vw;
}

.Product3right .para3 {
  margin: 10px 0px 10px;
  font-size: 1.2vw;
}
